
.add-comment,
.login,
.register {
  padding: 2em;
  max-width: 600px;
  margin: 2em auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.add-comment h1,
.login h1,
.register h1 {
  color: #145c21;
  font-size: 2.5em;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #34495e;
}

input, select, textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

button {
  padding: 0.75em 1.5em;
  background-color: #145c21;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0
}