nav {
  background-color: #2c3e50; 
  padding: 1em 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid #145c21; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white; 
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #34495e; 
}

